<h1>Calculator</h1>
<div>
    <label>A</label>
    <input #inputA (input)="setA(inputA.value)" 
        type="number" >
    <label>B</label>
    <input #inputB (input)="setB(inputB.value)" 
        type="number" >
</div>

<div>
    <button (click)="calculate()" >Go!</button>
</div>
<ul *ngIf="show" >
    <li >
        {{inputA.value}} +  {{inputB.value}} = {{resultAdd}}
    </li>
    <li >
        {{inputA.value}} -  {{inputB.value}} = {{resultSub}}
    </li>
    <li >
        {{inputA.value}} *  {{inputB.value}} = {{resultMult}}
    </li>
</ul>